.single-pmpro_lesson {
	.page-content{
		margin-top: 0;
	}
	.lesson-content {
		padding-inline: var(--spacer-2);
	}
	.lesson-title {
		margin-top: var(--spacer-8);
		font-size: var(--font-size-xl);
		line-height: 1.2;
		font-weight: var(--font-weight-bold);
		text-wrap: initial;
	}

	.pmpro_courses_lesson-status, 
	.pmpro_courses_lesson-back-to-course {
		text-align: right;
	}

	.pmpro_courses_lesson-status {
		p{
		display: inline-block;
		font-size: var(--font-size-sm);
		background: var(--primary-300);
		padding: .5em 1em;
		border-radius: var(--radius-sm);
		}
	}

	.lesson-navigation {
		font-size: 1rem;
		padding: 10px;
		.nav-links {
			display: flex;
			justify-content: space-between;
			gap: var(--spacer-2);
			.nav-previous {
				text-align: left;
				margin-right:auto;

			}
			.nav-next {
				margin-left: auto;;
				text-align: right;
			}
		}
	}
.sidebar {
	align-self: start;
}
}